.search-hotel {
  padding: 1rem 3rem;

  &__pending {
    font-size: 5em;
    text-align: center;
  }

  &__errors {
    font-weight: bold;
  }

  &__input {
    margin-top: 2rem;
    margin-bottom: 5rem;

    > button {
      margin: 0 1rem;
    }

    label {
      cursor: pointer;
    }
  }
}
