$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Comments below are markers used by wiredep to inject
 *  bower sass dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 2rem;
}

/**
 *  Comments below are markers used by gulp-inject to inject
 *  all components sass files automatically
 */
// injector
// endinjector
