<div class="hotel-card container">
  <!--<pre>{{vm.hotel | json}}</pre>-->

  <div class="col-sm-4">
    <uib-carousel>
      <uib-slide ng-repeat="image in vm.hotel.images">
        <img ng-src="{{image}}">
      </uib-slide>
    </uib-carousel>
  </div>

  <div class="col-sm-8">
    <div class="hotel-card__name">{{::vm.hotel.name}}</div>
    <div class="hotel-card__rating"></div>
    <div class="hotel-card__location">{{::vm.hotel.city + ' - ' + vm.hotel.country}}</div>
    <div class="hotel-card__description">{{::vm.hotel.description}}</div>
    <div class="hotel-card__price">{{::vm.hotel.price | currency}}</div>
  </div>
</div>
